


<div class="container" style="padding: 30px;background-color: #fff;text-align: center;min-height: 90vh;;">

  <div class="row">
    <div class="col-12" style="">
      <div style="width: 300px;margin: 0 auto;position: relative;">
        <h5 class="text-success">Order place successfully</h5>
       <h4> Order No. {{OrderNumber}}</h4>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
        <a [routerLink]="'/home'">Back to home</a>
    </div>
  </div>



</div>
